
/* 
footer {
  background: #6C9966;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding:5rem 0;
}

#footer-list{
  height: 20%;
  width: 50%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  font-family: "Poppins", "sans-serif";
  margin-top: 3rem;
  font-weight:100;
  text-decoration: none;
}

.Footer_heading{
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
  color: white;
  font-size: 3rem;
  padding-right: 2rem;
}

#footer-list a {
  text-decoration: none;
  font-size: 1.4rem;
  margin-left: 8rem;
  color: white;
  transition: .5s all ease;
}

#footer-list a:last-of-type {
  margin-left: 0;
}

#footer-list :hover {
  color: black;
} */